/* CartPage.css */

.ion-padding {
    padding: 16px;
  }
  
  .ion-card {
    margin-bottom: 16px;
  }
  
  .ion-card-title,
  .ion-card-subtitle {
    font-weight: bold;
  }
  
  .ion-card-content p {
    margin-top: 8px;
  }
  
  .ion-button {
    margin-top: 20px;
    width: 100%;
  }
  