/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.personaContainer {
    width: 100%;
    height: 100%;
}
.personaContainer > iframe {
    width: 100%;
    height: 100%;
}